/* @font-face {
    font-family: 'RedDeadFont';
    src: url('chinese\ rocks\ rg.otf') format('truetype');
} */

::-webkit-scrollbar {
    display: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Chinese Rocks Rg', sans-serif;
    background-color: #660b0b;
    color: #F2E3C6;
    text-shadow: 2px 2px 4px black;
    
}

html {
    scroll-behavior: smooth;
    
}
.section {
    min-height: 100vh;
    padding: 60px 0;

}
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    flex: 1;
}
.section-presentation {
    background-color: black;
    padding: 4rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 80% 90%, 70% 100%, 50% 90%, 30% 100%, 20% 90%, 0 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    text-align: center;
}
.span-description{
    font-size: 3.2em;
}
#language-toggle {
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 5px 10px;
}
.navbar {
    background-color: black;
    border-bottom: 4px solid rgb(80, 6, 6);
    font-size: 1.3rem;
}
.footer-icon {
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-icon:hover {
    color: #D79C2F;
    transform: translateY(-2px);
}

.custom-footer {
    background-color: black;
    border-top: 4px solid rgb(80, 6, 6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1000;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
}
.scroll-arrow {
    position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        font-size: 2.5rem;
        transition: transform 0.3s ease-in-out;
}
.scroll-arrow:hover {
    transform: translateX(-50%) scale(1.2);
    cursor: pointer;
}
.scroll-arrow a {
    color: #F2E3C6;
    text-decoration: none;
    display: block;
    transition: inherit;
}

/*************************** Estilo para sección "Sobre Mí" ********************************/
.section-about {
    background: black;
    color: #F2E3C6;
}
.sobreMi p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #F2E3C6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 0 auto 1.5rem;
    text-align: justify;
    padding: 0 10px;
}

.miFoto {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 250px;
    margin-left: 1rem;
}

.skills-list li {
    transition: transform 0.3s ease, color 0.3s ease;
}

.skills-list li:hover {
    transform: translateX(5px);
    color: #D79C2F;
}
.section-about .row {
    display: flex;
    align-items: stretch;
}
.about-left {
    background: #660b0b; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
}

.about-right {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 40px;
    border-radius: 0 20px 20px 0;
}

@media (max-width: 768px) {
    .about-left,
    .about-right {
        border-radius: 20px;
        padding: 20px;
    }
}
.modern-tech {
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 2rem;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.tech-item img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: transform 0.4s ease, filter 0.4s ease;
}
.tech-item svg {
    width: 75px;
    height: 75px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: transform 0.4s ease, filter 0.4s ease;
}
.tech-item svg:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.tech-item img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

/*************************** Estilo para sección "Proyectos" ********************************/
.card-text.justificado {
    text-align: justify;
    padding: 0 10px;
}
.projects{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    color: #F2E3C6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.section-projects {
    background-color: #1e1e1e;
    color: #F2E3C6;
}

.section-projects h1 {
    font-family: 'Chinese Rocks Rg', sans-serif;
    color: #F2E3C6;
    border-bottom: 1px solid #F2E3C6;
}

.project-card {
    border: none;
    background: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 490px;
}
.project-card .card-body {
    color: #F2E3C6;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.project-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.project-card .btn-primary {
    background-color: #D79C2F;
    border: none;
    transition: background-color 0.3s ease;
}

.project-card .btn-primary:hover {
    background-color: #b36b2b;
}
.chip-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}
.tech-chips{
    font-size: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(70%) sepia(41%) saturate(989%) hue-rotate(344deg) brightness(92%) contrast(91%);
}
.carousel-item img {
    height: 200px;
    object-fit: cover;
}
.chip-icon-github{
    color: black;
    background-color: black;
    border-radius: 100%;
}
